
body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

.container{
    flex:1;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials , .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: center;
}

.f-info-links a{
    margin-right: 1rem;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.show-img{
    opacity: 1;
    height: 30vh;
}

.show-img:hover{
    opacity: 0.9;
    background-color: white;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.clr-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.timer-bar-green {
  height: 4px;
  background-color: #198754; /* Bootstrap 5 'success' green */
  animation: shrink 4s linear forwards;
  margin-top: 10px;
  border-radius: 0 0 0.25rem 0.25rem;
}

.timer-bar-red {
  height: 4px;
  background-color: rgb(245, 70, 6); /* Bootstrap 5 'success' green */
  animation: shrink 4s linear forwards;
  margin-top: 10px;
  border-radius: 0 0 0.25rem 0.25rem;
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}